<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>org.lightframework.mvc.webapp</display-name>

    <!-- spring application context configuration -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:spring/*.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- mvc configuration -->
    <filter>
        <filter-name>mvc-filter</filter-name>
        <filter-class>org.lightframework.mvc.MvcFilter</filter-class>
        <init-param>
            <param-name>package</param-name>     
            <param-value>org.lightframework.mvc.webapp</param-value> 
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>mvc-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>